GCLOUD_KEY       = "{{ GCLOUD_KEY }}"
GCP_PROJ         = "{{ GCP_PROJ }}"
GCP_REGION       = "{{ GCP_REGION }}"
K8S_CLUSTER_NAME = "{{ K8S_CLUSTER_NAME }}"
K8S_CLUSTER_ZONE = "{{ K8S_CLUSTER_ZONE }}"
K8S_NODE_TYPE    = "{{ K8S_NODE_TYPE }}"
K8S_NODE_COUNT   = "{{ K8S_NODE_COUNT }}"